USE [BranchementAEP]
GO
/****** Objet : User [ade_app_user] Date de script : 19/09/2026 4:11:33 PM ******/
CREATE USER [ade_app_user] FOR LOGIN [ade_app_user] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Objet : DatabaseRole [db_aep_app_role] Date de script : 19/09/2026 4:11:33 PM ******/
CREATE ROLE [db_aep_app_role]
GO
ALTER ROLE [db_aep_app_role] ADD MEMBER [ade_app_user]
GO
/****** Objet : UserDefinedFunction [dbo].[fn_PrixArticle] Date de script : 19/09/2026 4:11:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================
   FONCTION : prix effectif d'un article selon le choix_prix
   Utilisee lors de l'ajout d'une ligne de devis pour calculer
   prix_unitaire a partir du tarif ouvert (date_fin IS NULL) :
     - PRESTATION       -> prix_unitaire (fourniture/pose NULL)
     - FOURNITURE       -> prix_fourniture seul
     - POSE             -> prix_pose seul
     - FOURNITURE_POSE  -> prix_unitaire (= fourniture + pose)
   Retourne NULL si aucun tarif ouvert n'existe pour l'article,
   ou si le choix_prix demande une composante non definie
   (ex. FOURNITURE sur un article en mode PRESTATION).
   ============================================================ */
CREATE FUNCTION [dbo].[fn_PrixArticle] (@id_article INT, @choix_prix NVARCHAR(20))
RETURNS DECIMAL(12,2)
AS
BEGIN
    DECLARE @prix DECIMAL(12,2);
    SELECT @prix = CASE @choix_prix
        WHEN N'FOURNITURE' THEN t.prix_fourniture
        WHEN N'POSE'       THEN t.prix_pose
        ELSE t.prix_unitaire   -- PRESTATION ou FOURNITURE_POSE (les deux)
    END
    FROM TarifsArticlesDevis t
    WHERE t.id_article = @id_article AND t.date_fin IS NULL;
    RETURN @prix;
END
GO
/****** Objet : Table [dbo].[Devis] Date de script : 19/09/2026 4:11:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Devis](
	[id_devis] [int] IDENTITY(1,1) NOT NULL,
	[id_demande] [int] NOT NULL,
	[numero_devis] [nvarchar](30) NOT NULL,
	[montant] [decimal](12, 2) NOT NULL,
	[date_emission] [datetime2](7) NOT NULL,
	[statut_paiement] [nvarchar](20) NOT NULL,
	[date_paiement] [datetime2](7) NULL,
	[mode_paiement] [nvarchar](30) NULL,
	[numero_recu] [nvarchar](50) NULL,
	[numero_cheque] [nvarchar](50) NULL,
	[numero_versement] [nvarchar](50) NULL,
	[banque] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_devis] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[numero_devis] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[Agences] Date de script : 19/09/2026 4:11:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agences](
	[id_agence] [int] IDENTITY(1,1) NOT NULL,
	[id_centre] [int] NOT NULL,
	[nom_agence] [nvarchar](100) NOT NULL,
	[code_agence] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_agence] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[code_agence] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[Communes] Date de script : 19/09/2026 4:11:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Communes](
	[id_commune] [int] IDENTITY(1,1) NOT NULL,
	[id_agence] [int] NOT NULL,
	[nom_commune] [nvarchar](100) NOT NULL,
	[wilaya] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_commune] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[Demandeurs] Date de script : 19/09/2026 4:11:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Demandeurs](
	[id_demandeur] [int] IDENTITY(1,1) NOT NULL,
	[est_personne_morale] [bit] NOT NULL,
	[qualite_demandeur] [nvarchar](20) NULL,
	[raison_sociale] [nvarchar](150) NULL,
	[nom] [nvarchar](80) NULL,
	[prenom] [nvarchar](80) NULL,
	[fils_de] [nvarchar](150) NULL,
	[ne_le] [date] NULL,
	[type_piece_identite] [nvarchar](10) NULL,
	[cin] [nvarchar](20) NULL,
	[cin_delivre_le] [date] NULL,
	[cin_delivre_par] [nvarchar](150) NULL,
	[telephone] [nvarchar](20) NULL,
	[telephone_secondaire] [nvarchar](20) NULL,
	[email] [nvarchar](150) NULL,
	[adresse] [nvarchar](255) NOT NULL,
	[id_commune] [int] NOT NULL,
	[date_creation] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_demandeur] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[TypesBranchement] Date de script : 19/09/2026 4:11:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypesBranchement](
	[id_type] [int] IDENTITY(1,1) NOT NULL,
	[libelle] [nvarchar](100) NOT NULL,
	[diametre_defaut] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[Statuts] Date de script : 19/09/2026 4:11:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statuts](
	[code_statut] [nvarchar](30) NOT NULL,
	[libelle] [nvarchar](100) NOT NULL,
	[ordre] [int] NOT NULL,
	[est_final] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[code_statut] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[Demandes] Date de script : 19/09/2026 4:11:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Demandes](
	[id_demande] [int] IDENTITY(1,1) NOT NULL,
	[numero_demande] [nvarchar](30) NOT NULL,
	[id_demandeur] [int] NOT NULL,
	[id_agence] [int] NOT NULL,
	[id_type] [int] NOT NULL,
	[type_autre] [nvarchar](150) NULL,
	[adresse_branchement] [nvarchar](255) NOT NULL,
	[id_commune] [int] NOT NULL,
	[statut_actuel] [nvarchar](30) NOT NULL,
	[id_agent_creation] [int] NOT NULL,
	[date_depot] [datetime2](7) NOT NULL,
	[date_maj] [datetime2](7) NOT NULL,
	[observations] [nvarchar](max) NULL,
	[est_verrouillee] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_demande] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[numero_demande] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objet : View [dbo].[vw_DemandesSynthese] Date de script : 19/09/2026 4:11:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

      CREATE   VIEW [dbo].[vw_DemandesSynthese] AS
      SELECT
          d.id_demande,
          d.numero_demande,
          d.id_agence,
          d.id_commune,
          d.id_type,
          d.id_demandeur,
          CASE WHEN dem.est_personne_morale = 1 THEN dem.raison_sociale ELSE dem.nom + ' ' + dem.prenom END AS demandeur,
          dem.telephone,
          dem.telephone_secondaire,
          dem.adresse AS adresse_residence,
          a.nom_agence,
          c_res.nom_commune AS nom_commune_residence,
          c.nom_commune AS nom_commune_branchement,
          c.nom_commune,
          d.adresse_branchement,
          d.observations,
          t.libelle AS type_branchement,
          d.statut_actuel,
          s.libelle AS statut_libelle,
          s.ordre AS statut_ordre,
          d.date_depot,
          d.date_maj,
          dv_agg.montant_total AS montant_devis,
          dv_agg.statut_paiement_global AS statut_paiement
      FROM Demandes d
      JOIN Demandeurs dem ON dem.id_demandeur = d.id_demandeur
      JOIN Agences a ON a.id_agence = d.id_agence
      JOIN Communes c ON c.id_commune = d.id_commune
      JOIN Communes c_res ON c_res.id_commune = dem.id_commune
      JOIN TypesBranchement t ON t.id_type = d.id_type
      JOIN Statuts s ON s.code_statut = d.statut_actuel
      LEFT JOIN (
          SELECT
              id_demande,
              SUM(montant) AS montant_total,
              CASE
                  WHEN COUNT(CASE WHEN statut_paiement <> 'PAYE' THEN 1 END) = 0 THEN 'PAYE'
                  ELSE 'IMPAYE'
              END AS statut_paiement_global
          FROM Devis
          GROUP BY id_demande
      ) dv_agg ON dv_agg.id_demande = d.id_demande;
    
GO
/****** Objet : Table [dbo].[Agents] Date de script : 19/09/2026 4:11:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agents](
	[id_agent] [int] IDENTITY(1,1) NOT NULL,
	[nom] [nvarchar](80) NULL,
	[prenom] [nvarchar](80) NULL,
	[email] [nvarchar](150) NOT NULL,
	[mot_de_passe] [nvarchar](255) NOT NULL,
	[role] [nvarchar](30) NOT NULL,
	[id_agence] [int] NOT NULL,
	[actif] [bit] NOT NULL,
	[date_creation] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_agent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[ArticlesDevis] Date de script : 19/09/2026 4:11:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArticlesDevis](
	[id_article] [int] IDENTITY(1,1) NOT NULL,
	[id_categorie] [int] NOT NULL,
	[code_article] [nvarchar](50) NOT NULL,
	[libelle] [nvarchar](150) NOT NULL,
	[matiere] [nvarchar](50) NULL,
	[couleur] [nvarchar](50) NULL,
	[unite] [nvarchar](20) NOT NULL,
	[mode_prix] [nvarchar](20) NOT NULL,
	[prix_unitaire] [decimal](12, 2) NOT NULL,
	[prix_fourniture] [decimal](12, 2) NULL,
	[prix_pose] [decimal](12, 2) NULL,
	[type_tva] [nvarchar](20) NOT NULL,
	[taux_tva] [decimal](5, 2) NOT NULL,
	[actif] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_article] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[code_article] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[CategoriesArticles] Date de script : 19/09/2026 4:11:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriesArticles](
	[id_categorie] [int] IDENTITY(1,1) NOT NULL,
	[code_categorie] [nvarchar](50) NOT NULL,
	[libelle] [nvarchar](100) NOT NULL,
	[actif] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categorie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[code_categorie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[Centres] Date de script : 19/09/2026 4:11:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Centres](
	[id_centre] [int] IDENTITY(1,1) NOT NULL,
	[nom_centre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_centre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[EtudesTechniques] Date de script : 19/09/2026 4:11:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EtudesTechniques](
	[id_etude] [int] IDENTITY(1,1) NOT NULL,
	[id_demande] [int] NOT NULL,
	[id_agent_technique] [int] NOT NULL,
	[date_visite] [datetime2](7) NULL,
	[distance_reseau_m] [decimal](6, 2) NULL,
	[diametre_conduite] [nvarchar](20) NULL,
	[faisabilite] [nvarchar](30) NULL,
	[observations] [nvarchar](max) NULL,
	[date_creation] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_etude] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[id_demande] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objet : Table [dbo].[HistoriqueModificationsDemandes] Date de script : 19/09/2026 4:11:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoriqueModificationsDemandes](
	[id_historique_modification] [int] IDENTITY(1,1) NOT NULL,
	[id_demande] [int] NOT NULL,
	[id_agent] [int] NOT NULL,
	[type_action] [nvarchar](50) NOT NULL,
	[description] [nvarchar](255) NOT NULL,
	[details] [nvarchar](max) NULL,
	[date_modification] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_historique_modification] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objet : Table [dbo].[HistoriqueStatuts] Date de script : 19/09/2026 4:11:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoriqueStatuts](
	[id_historique] [int] IDENTITY(1,1) NOT NULL,
	[id_demande] [int] NOT NULL,
	[code_statut] [nvarchar](30) NOT NULL,
	[id_agent] [int] NOT NULL,
	[date_changement] [datetime2](7) NOT NULL,
	[commentaire] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_historique] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[HistoriqueTva] Date de script : 19/09/2026 4:11:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoriqueTva](
	[id_tva] [int] IDENTITY(1,1) NOT NULL,
	[type_tva] [nvarchar](20) NOT NULL,
	[taux] [decimal](5, 2) NOT NULL,
	[date_effet] [date] NOT NULL,
	[date_creation] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_HistoriqueTva_TypeDate] UNIQUE NONCLUSTERED 
(
	[type_tva] ASC,
	[date_effet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[LignesDevis] Date de script : 19/09/2026 4:11:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LignesDevis](
	[id_ligne] [int] IDENTITY(1,1) NOT NULL,
	[id_devis] [int] NOT NULL,
	[code_article] [nvarchar](50) NOT NULL,
	[libelle] [nvarchar](150) NOT NULL,
	[unite] [nvarchar](20) NULL,
	[diametre] [nvarchar](50) NULL,
	[quantite] [decimal](10, 2) NOT NULL,
	[prix_unitaire] [decimal](12, 2) NOT NULL,
	[montant_ht] [decimal](12, 2) NOT NULL,
	[type_tva] [nvarchar](20) NULL,
	[taux_tva] [decimal](5, 2) NOT NULL,
	[ordre] [int] NOT NULL,
	[choix_prix] [nvarchar](20) NULL,
	[type_ligne] [nvarchar](20) NULL,
	[prix_fourniture] [decimal](12, 2) NULL,
	[prix_pose] [decimal](12, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ligne] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[MarquesCompteur] Date de script : 19/09/2026 4:11:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MarquesCompteur](
	[id_marque] [int] IDENTITY(1,1) NOT NULL,
	[libelle] [nvarchar](50) NOT NULL,
	[date_creation] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_marque] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[libelle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[ParametresApplication] Date de script : 19/09/2026 4:11:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParametresApplication](
	[cle] [nvarchar](50) NOT NULL,
	[valeur] [decimal](5, 2) NOT NULL,
	[date_maj] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[PiecesJointes] Date de script : 19/09/2026 4:11:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PiecesJointes](
	[id_piece] [int] IDENTITY(1,1) NOT NULL,
	[id_demande] [int] NOT NULL,
	[type_piece] [nvarchar](50) NOT NULL,
	[nom_fichier] [nvarchar](255) NOT NULL,
	[chemin_fichier] [nvarchar](500) NOT NULL,
	[date_upload] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_piece] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[TarifsArticlesDevis] Date de script : 19/09/2026 4:11:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TarifsArticlesDevis](
	[id_tarif] [int] IDENTITY(1,1) NOT NULL,
	[id_article] [int] NOT NULL,
	[mode_prix] [nvarchar](20) NOT NULL,
	[prix_unitaire] [decimal](12, 2) NOT NULL,
	[prix_fourniture] [decimal](12, 2) NULL,
	[prix_pose] [decimal](12, 2) NULL,
	[type_tva] [nvarchar](20) NOT NULL,
	[date_debut] [date] NOT NULL,
	[date_fin] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tarif] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[Travaux] Date de script : 19/09/2026 4:11:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Travaux](
	[id_travaux] [int] IDENTITY(1,1) NOT NULL,
	[id_demande] [int] NOT NULL,
	[numero_ordre_execution] [nvarchar](15) NOT NULL,
	[date_debut] [datetime2](7) NULL,
	[date_fin] [datetime2](7) NULL,
	[equipe_execution] [nvarchar](100) NULL,
	[numero_abonne] [nvarchar](6) NULL,
	[numero_compteur] [nvarchar](50) NULL,
	[marque_compteur] [nvarchar](50) NULL,
	[type_compteur] [nvarchar](50) NULL,
	[diametre_compteur] [nvarchar](20) NULL,
	[observations] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_travaux] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[id_demande] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[numero_ordre_execution] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Agents] ADD  DEFAULT ('agent_guichet') FOR [role]
GO
ALTER TABLE [dbo].[Agents] ADD  DEFAULT ((1)) FOR [actif]
GO
ALTER TABLE [dbo].[Agents] ADD  DEFAULT (sysdatetime()) FOR [date_creation]
GO
ALTER TABLE [dbo].[ArticlesDevis] ADD  DEFAULT (N'FOURNITURE_POSE') FOR [mode_prix]
GO
ALTER TABLE [dbo].[ArticlesDevis] ADD  DEFAULT (N'PRESTATION') FOR [type_tva]
GO
ALTER TABLE [dbo].[ArticlesDevis] ADD  DEFAULT ((19)) FOR [taux_tva]
GO
ALTER TABLE [dbo].[ArticlesDevis] ADD  DEFAULT ((1)) FOR [actif]
GO
ALTER TABLE [dbo].[CategoriesArticles] ADD  DEFAULT ((1)) FOR [actif]
GO
ALTER TABLE [dbo].[Demandes] ADD  DEFAULT ('DEPOSEE') FOR [statut_actuel]
GO
ALTER TABLE [dbo].[Demandes] ADD  DEFAULT (sysdatetime()) FOR [date_depot]
GO
ALTER TABLE [dbo].[Demandes] ADD  DEFAULT (sysdatetime()) FOR [date_maj]
GO
ALTER TABLE [dbo].[Demandes] ADD  DEFAULT ((0)) FOR [est_verrouillee]
GO
ALTER TABLE [dbo].[Demandeurs] ADD  CONSTRAINT [DF_Demandeurs_EstPersonneMorale]  DEFAULT ((0)) FOR [est_personne_morale]
GO
ALTER TABLE [dbo].[Demandeurs] ADD  DEFAULT (sysdatetime()) FOR [date_creation]
GO
ALTER TABLE [dbo].[Devis] ADD  DEFAULT (sysdatetime()) FOR [date_emission]
GO
ALTER TABLE [dbo].[Devis] ADD  DEFAULT ('IMPAYE') FOR [statut_paiement]
GO
ALTER TABLE [dbo].[EtudesTechniques] ADD  DEFAULT (sysdatetime()) FOR [date_creation]
GO
ALTER TABLE [dbo].[HistoriqueModificationsDemandes] ADD  DEFAULT ('MODIFICATION_DEMANDE') FOR [type_action]
GO
ALTER TABLE [dbo].[HistoriqueModificationsDemandes] ADD  DEFAULT (sysdatetime()) FOR [date_modification]
GO
ALTER TABLE [dbo].[HistoriqueStatuts] ADD  DEFAULT (sysdatetime()) FOR [date_changement]
GO
ALTER TABLE [dbo].[HistoriqueTva] ADD  DEFAULT (sysdatetime()) FOR [date_creation]
GO
ALTER TABLE [dbo].[LignesDevis] ADD  DEFAULT ((1)) FOR [quantite]
GO
ALTER TABLE [dbo].[LignesDevis] ADD  DEFAULT ((0)) FOR [prix_unitaire]
GO
ALTER TABLE [dbo].[LignesDevis] ADD  DEFAULT ((0)) FOR [montant_ht]
GO
ALTER TABLE [dbo].[LignesDevis] ADD  DEFAULT ((19)) FOR [taux_tva]
GO
ALTER TABLE [dbo].[LignesDevis] ADD  DEFAULT ((0)) FOR [ordre]
GO
ALTER TABLE [dbo].[MarquesCompteur] ADD  DEFAULT (sysdatetime()) FOR [date_creation]
GO
ALTER TABLE [dbo].[ParametresApplication] ADD  DEFAULT (sysdatetime()) FOR [date_maj]
GO
ALTER TABLE [dbo].[PiecesJointes] ADD  DEFAULT (sysdatetime()) FOR [date_upload]
GO
ALTER TABLE [dbo].[Statuts] ADD  DEFAULT ((0)) FOR [est_final]
GO
ALTER TABLE [dbo].[Agences]  WITH CHECK ADD FOREIGN KEY([id_centre])
REFERENCES [dbo].[Centres] ([id_centre])
GO
ALTER TABLE [dbo].[Agents]  WITH CHECK ADD FOREIGN KEY([id_agence])
REFERENCES [dbo].[Agences] ([id_agence])
GO
ALTER TABLE [dbo].[ArticlesDevis]  WITH CHECK ADD  CONSTRAINT [FK_ArticlesDevis_Categorie] FOREIGN KEY([id_categorie])
REFERENCES [dbo].[CategoriesArticles] ([id_categorie])
GO
ALTER TABLE [dbo].[ArticlesDevis] CHECK CONSTRAINT [FK_ArticlesDevis_Categorie]
GO
ALTER TABLE [dbo].[Communes]  WITH CHECK ADD FOREIGN KEY([id_agence])
REFERENCES [dbo].[Agences] ([id_agence])
GO
ALTER TABLE [dbo].[Demandes]  WITH CHECK ADD FOREIGN KEY([id_agence])
REFERENCES [dbo].[Agences] ([id_agence])
GO
ALTER TABLE [dbo].[Demandes]  WITH CHECK ADD FOREIGN KEY([id_agent_creation])
REFERENCES [dbo].[Agents] ([id_agent])
GO
ALTER TABLE [dbo].[Demandes]  WITH CHECK ADD FOREIGN KEY([id_commune])
REFERENCES [dbo].[Communes] ([id_commune])
GO
ALTER TABLE [dbo].[Demandes]  WITH CHECK ADD FOREIGN KEY([id_demandeur])
REFERENCES [dbo].[Demandeurs] ([id_demandeur])
GO
ALTER TABLE [dbo].[Demandes]  WITH CHECK ADD FOREIGN KEY([id_type])
REFERENCES [dbo].[TypesBranchement] ([id_type])
GO
ALTER TABLE [dbo].[Demandes]  WITH CHECK ADD FOREIGN KEY([statut_actuel])
REFERENCES [dbo].[Statuts] ([code_statut])
GO
ALTER TABLE [dbo].[Demandeurs]  WITH CHECK ADD FOREIGN KEY([id_commune])
REFERENCES [dbo].[Communes] ([id_commune])
GO
ALTER TABLE [dbo].[Devis]  WITH CHECK ADD FOREIGN KEY([id_demande])
REFERENCES [dbo].[Demandes] ([id_demande])
GO
ALTER TABLE [dbo].[EtudesTechniques]  WITH CHECK ADD FOREIGN KEY([id_agent_technique])
REFERENCES [dbo].[Agents] ([id_agent])
GO
ALTER TABLE [dbo].[EtudesTechniques]  WITH CHECK ADD FOREIGN KEY([id_demande])
REFERENCES [dbo].[Demandes] ([id_demande])
GO
ALTER TABLE [dbo].[HistoriqueModificationsDemandes]  WITH CHECK ADD FOREIGN KEY([id_agent])
REFERENCES [dbo].[Agents] ([id_agent])
GO
ALTER TABLE [dbo].[HistoriqueModificationsDemandes]  WITH CHECK ADD FOREIGN KEY([id_demande])
REFERENCES [dbo].[Demandes] ([id_demande])
GO
ALTER TABLE [dbo].[HistoriqueStatuts]  WITH CHECK ADD FOREIGN KEY([code_statut])
REFERENCES [dbo].[Statuts] ([code_statut])
GO
ALTER TABLE [dbo].[HistoriqueStatuts]  WITH CHECK ADD FOREIGN KEY([id_agent])
REFERENCES [dbo].[Agents] ([id_agent])
GO
ALTER TABLE [dbo].[HistoriqueStatuts]  WITH CHECK ADD FOREIGN KEY([id_demande])
REFERENCES [dbo].[Demandes] ([id_demande])
GO
ALTER TABLE [dbo].[LignesDevis]  WITH CHECK ADD FOREIGN KEY([id_devis])
REFERENCES [dbo].[Devis] ([id_devis])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PiecesJointes]  WITH CHECK ADD FOREIGN KEY([id_demande])
REFERENCES [dbo].[Demandes] ([id_demande])
GO
ALTER TABLE [dbo].[TarifsArticlesDevis]  WITH CHECK ADD FOREIGN KEY([id_article])
REFERENCES [dbo].[ArticlesDevis] ([id_article])
GO
ALTER TABLE [dbo].[Travaux]  WITH CHECK ADD FOREIGN KEY([id_demande])
REFERENCES [dbo].[Demandes] ([id_demande])
GO
ALTER TABLE [dbo].[Agents]  WITH CHECK ADD  CONSTRAINT [CK_Agents_Role] CHECK  (([role]='admin' OR [role]='chef_agence' OR [role]='agent_technique' OR [role]='agent_guichet'))
GO
ALTER TABLE [dbo].[Agents] CHECK CONSTRAINT [CK_Agents_Role]
GO
ALTER TABLE [dbo].[ArticlesDevis]  WITH CHECK ADD  CONSTRAINT [CK_ArticlesDevis_ModePrix] CHECK  (([mode_prix]=N'FOURNITURE_POSE' OR [mode_prix]=N'PRESTATION'))
GO
ALTER TABLE [dbo].[ArticlesDevis] CHECK CONSTRAINT [CK_ArticlesDevis_ModePrix]
GO
ALTER TABLE [dbo].[ArticlesDevis]  WITH CHECK ADD  CONSTRAINT [CK_ArticlesDevis_Prix] CHECK  (([prix_unitaire]>=(0)))
GO
ALTER TABLE [dbo].[ArticlesDevis] CHECK CONSTRAINT [CK_ArticlesDevis_Prix]
GO
ALTER TABLE [dbo].[ArticlesDevis]  WITH CHECK ADD  CONSTRAINT [CK_ArticlesDevis_PrixFourniture] CHECK  (([prix_fourniture] IS NULL OR [prix_fourniture]>=(0)))
GO
ALTER TABLE [dbo].[ArticlesDevis] CHECK CONSTRAINT [CK_ArticlesDevis_PrixFourniture]
GO
ALTER TABLE [dbo].[ArticlesDevis]  WITH CHECK ADD  CONSTRAINT [CK_ArticlesDevis_PrixPose] CHECK  (([prix_pose] IS NULL OR [prix_pose]>=(0)))
GO
ALTER TABLE [dbo].[ArticlesDevis] CHECK CONSTRAINT [CK_ArticlesDevis_PrixPose]
GO
ALTER TABLE [dbo].[ArticlesDevis]  WITH CHECK ADD  CONSTRAINT [CK_ArticlesDevis_TauxTva] CHECK  (([taux_tva]>=(0) AND [taux_tva]<=(100)))
GO
ALTER TABLE [dbo].[ArticlesDevis] CHECK CONSTRAINT [CK_ArticlesDevis_TauxTva]
GO
ALTER TABLE [dbo].[ArticlesDevis]  WITH CHECK ADD  CONSTRAINT [CK_ArticlesDevis_TypeTva] CHECK  (([type_tva]=N'TRAVAUX' OR [type_tva]=N'PRESTATION'))
GO
ALTER TABLE [dbo].[ArticlesDevis] CHECK CONSTRAINT [CK_ArticlesDevis_TypeTva]
GO
ALTER TABLE [dbo].[ArticlesDevis]  WITH CHECK ADD  CONSTRAINT [CK_ArticlesDevis_Unite] CHECK  (([unite]=N'ENS' OR [unite]=N'FF' OR [unite]=N'H' OR [unite]=N'KG' OR [unite]=N'M3' OR [unite]=N'M²' OR [unite]=N'ML' OR [unite]=N'U'))
GO
ALTER TABLE [dbo].[ArticlesDevis] CHECK CONSTRAINT [CK_ArticlesDevis_Unite]
GO
ALTER TABLE [dbo].[Demandeurs]  WITH CHECK ADD  CONSTRAINT [CK_Demandeurs_Qualite] CHECK  (([qualite_demandeur] IS NULL OR ([qualite_demandeur]='MANDATAIRE' OR [qualite_demandeur]='LOCATAIRE' OR [qualite_demandeur]='PROPRIETAIRE')))
GO
ALTER TABLE [dbo].[Demandeurs] CHECK CONSTRAINT [CK_Demandeurs_Qualite]
GO
ALTER TABLE [dbo].[Demandeurs]  WITH CHECK ADD  CONSTRAINT [CK_Demandeurs_TypePiece] CHECK  (([type_piece_identite] IS NULL OR ([type_piece_identite]='PC' OR [type_piece_identite]='CIN')))
GO
ALTER TABLE [dbo].[Demandeurs] CHECK CONSTRAINT [CK_Demandeurs_TypePiece]
GO
ALTER TABLE [dbo].[Devis]  WITH CHECK ADD  CONSTRAINT [CK_Devis_ModePaiement] CHECK  (([mode_paiement] IS NULL OR ([mode_paiement]='Virement' OR [mode_paiement]='Versement_bancaire' OR [mode_paiement]='Cheque' OR [mode_paiement]='Especes')))
GO
ALTER TABLE [dbo].[Devis] CHECK CONSTRAINT [CK_Devis_ModePaiement]
GO
ALTER TABLE [dbo].[Devis]  WITH CHECK ADD  CONSTRAINT [CK_Devis_StatutPaiement] CHECK  (([statut_paiement]='PAYE' OR [statut_paiement]='IMPAYE'))
GO
ALTER TABLE [dbo].[Devis] CHECK CONSTRAINT [CK_Devis_StatutPaiement]
GO
ALTER TABLE [dbo].[EtudesTechniques]  WITH CHECK ADD  CONSTRAINT [CK_Etudes_Faisabilite] CHECK  (([faisabilite] IS NULL OR ([faisabilite]='Non_faisable' OR [faisabilite]='Faisable_sous_reserve' OR [faisabilite]='Faisable')))
GO
ALTER TABLE [dbo].[EtudesTechniques] CHECK CONSTRAINT [CK_Etudes_Faisabilite]
GO
ALTER TABLE [dbo].[HistoriqueTva]  WITH CHECK ADD  CONSTRAINT [CK_HistoriqueTva_Taux] CHECK  (([taux]>=(0) AND [taux]<=(100)))
GO
ALTER TABLE [dbo].[HistoriqueTva] CHECK CONSTRAINT [CK_HistoriqueTva_Taux]
GO
ALTER TABLE [dbo].[HistoriqueTva]  WITH CHECK ADD  CONSTRAINT [CK_HistoriqueTva_Type] CHECK  (([type_tva]=N'TRAVAUX' OR [type_tva]=N'PRESTATION'))
GO
ALTER TABLE [dbo].[HistoriqueTva] CHECK CONSTRAINT [CK_HistoriqueTva_Type]
GO
ALTER TABLE [dbo].[LignesDevis]  WITH CHECK ADD  CONSTRAINT [CK_LignesDevis_ChoixPrix] CHECK  (([choix_prix] IS NULL OR ([choix_prix]=N'FOURNITURE_POSE' OR [choix_prix]=N'POSE' OR [choix_prix]=N'FOURNITURE' OR [choix_prix]=N'PRESTATION')))
GO
ALTER TABLE [dbo].[LignesDevis] CHECK CONSTRAINT [CK_LignesDevis_ChoixPrix]
GO
ALTER TABLE [dbo].[TarifsArticlesDevis]  WITH CHECK ADD  CONSTRAINT [CK_TarifsArticles_ModePrix] CHECK  (([mode_prix]=N'FOURNITURE_POSE' OR [mode_prix]=N'PRESTATION'))
GO
ALTER TABLE [dbo].[TarifsArticlesDevis] CHECK CONSTRAINT [CK_TarifsArticles_ModePrix]
GO
ALTER TABLE [dbo].[TarifsArticlesDevis]  WITH CHECK ADD  CONSTRAINT [CK_TarifsArticles_Periode] CHECK  (([date_fin] IS NULL OR [date_fin]>=[date_debut]))
GO
ALTER TABLE [dbo].[TarifsArticlesDevis] CHECK CONSTRAINT [CK_TarifsArticles_Periode]
GO
ALTER TABLE [dbo].[TarifsArticlesDevis]  WITH CHECK ADD  CONSTRAINT [CK_TarifsArticles_Prix] CHECK  (([prix_unitaire]>=(0)))
GO
ALTER TABLE [dbo].[TarifsArticlesDevis] CHECK CONSTRAINT [CK_TarifsArticles_Prix]
GO
ALTER TABLE [dbo].[TarifsArticlesDevis]  WITH CHECK ADD  CONSTRAINT [CK_TarifsArticles_PrixFourniture] CHECK  (([prix_fourniture] IS NULL OR [prix_fourniture]>=(0)))
GO
ALTER TABLE [dbo].[TarifsArticlesDevis] CHECK CONSTRAINT [CK_TarifsArticles_PrixFourniture]
GO
ALTER TABLE [dbo].[TarifsArticlesDevis]  WITH CHECK ADD  CONSTRAINT [CK_TarifsArticles_PrixPose] CHECK  (([prix_pose] IS NULL OR [prix_pose]>=(0)))
GO
ALTER TABLE [dbo].[TarifsArticlesDevis] CHECK CONSTRAINT [CK_TarifsArticles_PrixPose]
GO
ALTER TABLE [dbo].[TarifsArticlesDevis]  WITH CHECK ADD  CONSTRAINT [CK_TarifsArticles_TypeTva] CHECK  (([type_tva]=N'TRAVAUX' OR [type_tva]=N'PRESTATION'))
GO
ALTER TABLE [dbo].[TarifsArticlesDevis] CHECK CONSTRAINT [CK_TarifsArticles_TypeTva]
GO
/****** Objet : StoredProcedure [dbo].[sp_ChangerStatutDemande] Date de script : 19/09/2026 4:11:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================
   PROCEDURE STOCKEE : changement de statut avec historisation
   ============================================================ */
CREATE PROCEDURE [dbo].[sp_ChangerStatutDemande]
    @id_demande INT,
    @nouveau_statut NVARCHAR(30),
    @id_agent INT,
    @commentaire NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;

    UPDATE Demandes
    SET statut_actuel = @nouveau_statut,
        date_maj = SYSDATETIME()
    WHERE id_demande = @id_demande;

    INSERT INTO HistoriqueStatuts (id_demande, code_statut, id_agent, commentaire)
    VALUES (@id_demande, @nouveau_statut, @id_agent, @commentaire);

    COMMIT TRANSACTION;
END
GO
